<?php

/*
* This function is called from anywhere in the web application when a
* database connection string is required.  Fill in the relevant portions.
* Search for the pg_connect() function on php.net to find out more about
* connection strings.  There are many more options than just what are
* used in this example.
*/
function get_connection_string() {
	return "host=<database_host> "
		. "dbname=<your_db_name> "
		. "user=<your_db_username> "
		. "password=<user's password>";
}
?>
